[project]
	description = Compliance tests
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	mergeContent = true
[capability]
	administrateServer = group Administrators
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
	streamEvents = group Stream Events
	accessDatabase = group Database Admins
[access "refs/*"]
	read = group Administrators
	read = group Anonymous Users
	read = group Non-Interactive Users
	read = group Registered Users
	deleteDrafts = group Administrators
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	create = group ldap/all_project_owners
	forgeAuthor = group Project Owners
	forgeAuthor = group ldap/all_project_owners
	forgeCommitter = group Project Owners
	forgeCommitter = group ldap/all_project_owners
	push = +force group Administrators
	push = group Project Owners
	push = group ldap/all_project_owners
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group ldap/all_project_owners
	label-Code-Review = -1..+1 group Registered Users
	submit = group Project Owners
	submit = group ldap/all_project_owners
	editTopicName = +force group Project Owners
	editTopicName = group ldap/all_project_owners
[access "refs/meta/config"]
	read = group Administrators
	read = group Project Owners
	read = group ldap/all_project_owners
	push = group Administrators
[access "refs/tags/*"]
	pushTag = +force group Administrators
	pushTag = group Project Owners
	pushTag = group ldap/all_project_owners
	pushSignedTag = group Project Owners
	pushSignedTag = group ldap/all_project_owners
	push = +force group Administrators
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[access "refs/notes/commits"]
	push = group Administrators
	create = group Administrators
	requireSignedOffBy = false
	requireChangeId = false
[access "refs/for/*"]
	pushMerge = group Administrators
	pushMerge = group Project Owners
	pushMerge = group ldap/all_project_owners
