[project]
	description = Compliance tests
[access "refs/for/refs/heads/*"]
	push = group cc-test
	push = group ldap/gerrit_compliance_committers
[access "refs/heads/*"]
	create = group cc-test
	forgeAuthor = group cc-test
	label-Code-Review = -2..+2 group cc-test
	submit = group cc-test
	editTopicName = group cc-test
	abandon = group cc-test
[access "refs/meta/config"]
	read = group cc-test
[access "refs/tags/*"]
	pushTag = group cc-test
	pushSignedTag = group cc-test
[access "refs/for/*"]
	pushMerge = group cc-test
	pushMerge = group ldap/gerrit_compliance_committers
[access "refs/*"]
	read = group GitHub Replication
