<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuration>
<TestCasesPackagePath>TestCases/</TestCasesPackagePath>
<ResultPath>results/</ResultPath>
<LogPath>log/</LogPath>
<TestToolWebAppUrl>http://certify.allseenalliance.org/TestToolWebApp/</TestToolWebAppUrl>
<GetListOfProjectsUrl>rest/getList/</GetListOfProjectsUrl>
<GetTestCases>rest/getProject/</GetTestCases>
<GetResults>rest/getResults/</GetResults>
<isLastTechnologyVersionUrl>rest/isLastTechnologyVersion</isLastTechnologyVersionUrl>
<GetTechnology>rest/getTechnology/</GetTechnology>
<GetLog>rest/getFullLog/</GetLog>
<SendResultsUrl>rest/sendResult/</SendResultsUrl>
<AuthenticateUrl>oauth/token</AuthenticateUrl>
<UploadLogFile>rest/upload/</UploadLogFile>
<InstalledTestToolPackages></InstalledTestToolPackages>
<isLastVersion>rest/isLastVersion/</isLastVersion>
<DownloadPath>downloads/</DownloadPath>
<getLastVersion>rest/getLastVersion</getLastVersion>
<keyExchange>rest/keyExchange/</keyExchange>
<logLevel>ERROR</logLevel>
<ExistsRelease>rest/existsRelease/</ExistsRelease>
</Configuration>